<div class="flex-container">
    <div class="header-container" *ngIf="users">
        <div class="users" *ngFor="let user of users">
            <button mat-raised-button color="primary" [ngClass]="{
                    'active': selectedUser == user}" (click)="getUserPosts(user)">{{user.username}}</button>
        </div>
    </div>

    <div class="post-container" *ngIf="userPosts">
        <div class="heading">
            <h2>Posts from {{selectedUser.name}}:</h2>
        </div>

        <div class="user-posts" *ngFor="let post of userPosts | slice:0:showLength">
            <app-post [post]="post" [user]="selectedUser"></app-post>
        </div>

        <div class="show-more">
            <button mat-raised-button color="primary" *ngIf="showButton"
                (click)="showLength = userPosts.length; showButton= false;">Load All..</button>

            <button mat-raised-button color="primary" *ngIf="!showButton"
                (click)="showLength = 3;showButton= true;">Show Less..</button>
        </div>
    </div>
</div>